.payment_method_wc_gateway_precisionpay label img {
  max-height: 40px;
}

.payment_method_wc_gateway_precisionpay p {
  margin-bottom: 20px;
}

.wc-precisionpay-form #precisionpay-link-button,
.wc-precisionpay-form #precisionpay-cc-button {
  color: white;
  border-radius: 50px;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  gap: 8px;
  border: none;
  padding: 15px;
  font-weight: bold;
  /* text-transform: uppercase; */
}
.wc-precisionpay-form #precisionpay-cc-button {
  font-size: 16px;
}
#payment .payment_methods li .wc-precisionpay-form .precisionpay-p {
  margin: 10px 0;
}
.wc-precisionpay-form  .precisionpay-button:hover {
  filter: brightness(125%);
}
.wc-precisionpay-form .precisionpay-button img {
  /* width: 24px; */
  /* height: 30px; */
  height: 22px;
  margin: 0 !important;
  float: none !important;
}
.wc-precisionpay-form #precisionpay-cc-button img {
  width: 20px;
}
#precisionpay-login-section {
  padding: 10px 0;
  font-size: 16px;
}
#precisionpay-login-section a {
  color: #f15a29;
}
.wc-precisionpay-form .clear {
  height: 0;
  overflow: hidden;
}

.woocommerce-error h3 {
  font-size: 1em;
}